$color--primary: #1e1d22;
$color--secondary: #ff5951;
$color--secondary-darken: darken( $color--secondary, 40% );
$color--text: #585858;
$color--detail: darken( $color--text, 10% );
$color--white: #fff;
$color1: #ff5951;
